[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
numpy = "*"
scipy = "*"
tox = "*"

[packages]
Nbodies = {path='./Nbodies'}

[requires]
python_version = "3.6"

[scripts]
test = "tox"
