[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8="*"
numpy = "*"
pytest = "*"
tox = "*"
matplotlib="*"

[packages]
Nbodies = {editable = true,path = "."}

[requires]
python_version = "3.6"

[scripts]
test = "tox"
